h2.title {
    text-align: center;
    padding: 20px 0;
}

.form-instafeed {
    display: flex;
    justify-content: space-evenly;
}

.form-instafeed button {
    position: absolute;
    margin-top: 80px;
    min-width: 250px;
    border: none;
    padding: 5px;
}

/* Status */

.title-status {
    display: flex;    
    justify-content: space-evenly;
    background: #80808029;
}


.title-status p {
    margin-bottom: 0;
    line-height: 3;
}

.status-now {
    display: flex;
    justify-content: space-evenly;
}

.box-status-txt {
    display: flex;
    justify-content: space-around;
}

.box-status-txt span:first-child {
    background: yellow;
}

.box-status-txt span:nth-child(2) {
    color: red;
}


/* table */

table {
    width: 100%;
  }

  tr.mat-row, tr.mat-footer-row {
    height: 38px;
}