<h2 class="title">Status Instafeed</h2>

<div class="box-status-txt">
  <span>
  Amarelo (10 dias ou menos para vencimento)
  </span>  
  <span>
  Vermelho (Vencido)  
  </span>  
  <span>
  Preto (Token funcionando)  
  </span>  
</div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Instafeed </th>
              <td mat-cell *matCellDef="let element" [style.background]="element.faltam > 0 && element.faltam < 10 ? linhaAtencao : linhaNormal" [style.color]="element.faltam < 0 ? linhaVencido : '#000'"> {{element.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Data vencimento </th>
              <td mat-cell *matCellDef="let element" [style.background]="element.faltam > 0 && element.faltam < 10 ? linhaAtencao : linhaNormal" [style.color]="element.faltam < 0 ? linhaVencido : '#000'"> {{element.data}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef > Dias para vencimento </th>
              <td mat-cell *matCellDef="let element" [style.background]="element.faltam > 0 && element.faltam < 10 ? linhaAtencao : linhaNormal" [style.color]="element.faltam < 0 ? linhaVencido : '#000'"> {{element.faltam}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>